<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SIGED_3.CRM.Migration.Properties.Settings.DB3894_SIDConnectionString"
            connectionString="Data Source=tcp:xo6zq4as64.database.windows.net,1433;Initial Catalog=DB3894_SID;Persist Security Info=True;User ID=DB3894_ADMIN@xo6zq4as64;Password=abc123_*"
            providerName="System.Data.SqlClient" />
        <add name="SIGED_3.CRM.Migration.Properties.Settings.SID_2ConnectionString"
            connectionString="Data Source=PHARSAT-PC\PHARSATSQL;Initial Catalog=SID_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SIGED_3.CRM.Migration.Properties.Settings.SID_2ConnectionString1"
            connectionString="Data Source=tcp:xo6zq4as64.database.windows.net,1433;Initial Catalog=SID_2;Persist Security Info=True;User ID=DB3894_ADMIN@xo6zq4as64;Password=abc123_*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>