<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SIGED_3.CRM.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SIGED_3.CRM.Model.Properties.Settings.Local" connectionString="Data Source=PHARSAT-PC\PHARSATSQL;Initial Catalog=SID_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SIGED_3.CRM.Model.Properties.Settings.Externa" connectionString="Data Source=xo6zq4as64.database.windows.net,1433;Initial Catalog=SID_2;Persist Security Info=True;User ID=DB3894_ADMIN@xo6zq4as64;Password=abc123_*"
            providerName="System.Data.SqlClient" />
        <add name="SIGED_3.CRM.Model.Properties.Settings.Seek" connectionString="Data Source=174.36.80.52,25000;Initial Catalog=DB7890_SID2;Persist Security Info=True;User ID=DB7890_SID2;Password=wapreal1"
            providerName="System.Data.SqlClient" />
        <add name="SIGED_3.CRM.Model.Properties.Settings.SID_2ConnectionString"
            connectionString="Data Source=tcp:xo6zq4as64.database.windows.net,1433;Initial Catalog=SID_2;Persist Security Info=True;User ID=DB3894_ADMIN@xo6zq4as64;Password=abc123_*"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SIGED_3.CRM.Model.Properties.Settings>
            <setting name="SmtpClientCredencialUsuario" serializeAs="String">
                <value>areatecnica@easyprocesscompany.com</value>
            </setting>
            <setting name="SmtpClientCredencialContrasena" serializeAs="String">
                <value>CristianFelipe</value>
            </setting>
            <setting name="SmtpClientPuerto" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SmtpClientHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpClientSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmisorDeLosCorreos" serializeAs="String">
                <value>areatecnica@easyprocesscompany.com</value>
            </setting>
            <setting name="NombreCompania" serializeAs="String">
                <value>Easy Process Company</value>
            </setting>
            <setting name="URLCompania" serializeAs="String">
                <value>http://siged2.azurewebsites.net/</value>
            </setting>
            <setting name="URLCorreoImagen" serializeAs="String">
                <value>http://siged2.azurewebsites.net/Recursos/Diseno/Imagenes/PAGSLOGOTIPO.png</value>
            </setting>
        </SIGED_3.CRM.Model.Properties.Settings>
    </applicationSettings>
</configuration>